.sidebar-li:hover,
.category-ul>li:hover,
.liked:hover,
.saved:hover {
    color: white;
    cursor: pointer;
}


.box.sidebar-li:hover {
    background-color: white;
    color: black;
}

.upgrade-title:hover {
    transform: scale(1.2);
}

.cont-play {
    position: relative;
}

.played-song {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(00, 00, 00, 0.7);
    color: white;
    font-size: 2rem;
    padding-top: 4rem;
    display: none;
}

.played-song.art {
    border-radius: 50%;
}

.played-cards:hover .played-song {
    display: block;
}

.artista-riprodotto:hover {
    color: white;
    text-decoration: underline;
}

.player-icons:hover {
    cursor: pointer;
}

.start-stop:hover {
    font-size: 2rem;
}

.vol-up::after {
    content: "";
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

.vol-up:hover {
    display: block;
}