/* medium */
@media screen and (max-width:950px) {
    .category-ul {
        flex-wrap: wrap;
        justify-content: center;

    }

    .played {
        flex-wrap: wrap;
    }

    .played-cards {
        width: calc(100% / 4 - 2.1rem);
    }
}

@media screen and (max-width:720px) {
    .played-cards {
        width: calc(100% / 2 - 1.4rem);
    }
}

#logo-small {
    display: none;
}

@media screen and (max-width:470px) {
    .sidebar {
        width: 2.4rem;
    }

    #logospotify,
    .playlist,
    .sidebar-titles,
    .account-installa {
        display: none;
    }

    #logo-small {
        display: block;
        width: 1.5rem;
        padding: 0.5rem 0;
    }

    .sidebar-dwn {
        width: 1rem;
        padding-left: 0.1rem;
    }

    .account-img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .account {
        margin-top: auto;
    }

    .content,
    .upgrade {
        width: calc(100vw - 2.4rem);
    }
}