/* medium */
@media screen and (max-width:950px) {
    .category-ul {
        flex-wrap: wrap;
        justify-content: center;

    }

    /* .played {
        flex-wrap: wrap;
    }

    .played-cards {
        width: calc(100% / 4 - 2.1rem);
    } */

    /* BONUS */
    .played {
        overflow: auto;
    }
}

@media screen and (max-width:720px) {
    /* .played-cards {
        width: calc(100% / 2 - 1.4rem);
    } */

    .brano,
    .player,
    .dispositivi {
        width: calc(100% / 3);
        min-width: 150px;
    }
}

#logo-small {
    display: none;
}

@media screen and (max-width:470px) {
    .sidebar {
        width: 2.4rem;
    }

    .sidebar-li {
        padding-left: 0.7rem;
    }

    .sidebar-li.sidebar-checked {
        padding-left: 0.7rem;
        border: 0;
    }

    #logospotify,
    .playlist,
    .sidebar-titles,
    .account-installa {
        display: none;
    }

    #logo-small {
        display: block;
        width: 1.5rem;
        padding: 0.5rem 0;
    }

    .sidebar-dwn {
        width: 1rem;
        padding-left: 2px;
        margin-bottom: 2px;
    }

    .account-img {
        width: 1.2rem;
        height: 1.2rem;
    }

    .account {
        margin-top: auto;
    }

    .content,
    .upgrade {
        width: calc(100vw - 2.4rem);
    }
}

/* BONUS */

@media screen and (max-height:400px) {
    .upgrade {
        display: none;
    }

    .songs-list {
        padding-top: 0;
    }
}