/* generals */
* {
    font-family: 'Roboto', sans-serif;
}

.all-sections {
    width: 100%;
}

/* SIDEBAR */
.sidebar {
    background-color: black;
    flex-direction: column;
    width: 12rem;
    height: calc(100vh - 5rem);
    padding-left: 0.7rem;
    color: grey;
    font-size: 0.7rem;
    font-weight: bold;
}

.sidebar-playlist {
    color: white;
    font-weight: bold;
}

.sidebar-loghi {
    display: inline-block;
    width: 1.2rem;
}

/* logo */
.spotify {
    height: 3rem;
}

#logospotify {
    width: 7rem;
    padding: 0.5rem 0;
}

/* recall */

.recall {
    margin-bottom: 1rem;
}


/* playlist */

.playlist {
    flex-grow: 1;
    line-height: 1.7rem;
    overflow: auto;
}

.box {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: grey;
    text-align: center;
    line-height: 1.2rem;
    padding-top: 0.2rem;
    color: black;
}

/* account */

.account-installa {
    display: block;
    width: calc(100% - 0.7rem);
    height: 1px;
    background-color: grey;
    margin: 10px 0;
}

.account-img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: grey;
}

.account-name {
    color: white;
}

/* CONTENT */

.content {
    width: calc(100vw - 12rem);
    height: calc(100vh - 5rem);
    background-color: #141922;
}

/* header */

.upgrade {
    height: 3rem;
    width: calc(100% - 12rem);
    justify-content: flex-end;
    position: fixed;
    z-index: 1;
    background-color: rgba(00, 00, 00, 0.7);
}

.upgrade-title {
    color: white;
    font-weight: bold;
    margin: 0.5rem 2rem;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.4rem 2rem;
}

/* main */

.songs-list {
    padding-top: 3rem;
}

/* category */

.category {
    justify-content: center;
}

.category-ul>li {
    margin: 0.7rem;
    color: grey;
    font-size: 0.7rem;
    font-weight: bold;
}

/* played */

.content {
    overflow: auto;
}

.played {
    gap: 0.7rem;
}


.songs-titles {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.album {
    width: 10rem;
}

.played-cards {
    position: relative;
    text-align: center;
    width: calc(100% / 6);
    min-width: 7rem;
    margin: 1rem 0;
}

.songs-names {
    color: white;
    font-weight: bold;
}

.subtitle {
    color: grey;
    font-size: 0.7rem;
    font-weight: bold;
}

.album.artists {
    border-radius: 50%;
}

/* FOOTER */

footer {
    background-color: #282828;
    height: 5rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

/* brano */

.album-riprodotto {
    width: 3rem;
    height: 3rem;
    margin: auto 0.7rem;
}

.title-riprodotto {
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
}

.artista-riprodotto {
    color: grey;
    font-size: 0.7rem;
    font-weight: bold;
}

.utils-brano {
    margin-left: 2rem;
}

.liked,
.saved {
    color: grey;
    font-size: 0.7rem;
    margin: 2px;
}

/* player */

.player>div {
    text-align: center;
}

.player-icons {
    color: white;
    margin: 0 0.5rem;
}

.start-stop {
    font-size: 1.5rem;
    width: 100%;
}

.timer {
    font-size: 0.7rem;
    color: white;
}

.riproduzione {
    display: inline-block;
    height: 4px;
    width: 12rem;
    border-radius: 2px;
    background-color: grey;
}

.riproduzione.riproduzione-past {
    display: block;
    width: 4rem;
    background-color: white;
}

/* dispositivi */

.dispositivi-icons {
    font-size: 0.7rem;
    color: white;
    margin: 0 0.5rem;
}

.volume {
    display: inline-block;
    height: 4px;
    width: 100px;
    border-radius: 2px;
    background-color: grey;
    margin-right: 0.7rem;
}

.volume.vol-up {
    display: block;
    width: 30px;
    background-color: white;
}