/* generals */
* {
    font-family: 'Roboto', sans-serif;
}

.all-sections {
    width: 100%;
}

/* SIDEBAR */
.sidebar {
    /* debug */
    background-color: black;

    width: 12rem;
    height: calc(100vh - 5rem);
    padding-left: 0.7rem;
    color: grey;
}

.sidebar-titles {
    color: white;
    font-weight: bold;
}

/* logo */
.spotify {
    padding: 0.5rem 0;
    height: 3rem;
}

#logospotify {
    width: 2rem;
}

#titlespotify {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

/* recall */

.recall {
    margin-bottom: 1rem;
}

/* playlist */


.box {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: grey;
    text-align: center;
    padding-top: 0.2rem;
    color: black;
}

/* account */

.account>span {
    display: block;
}

.account-installa {
    width: calc(100% - 0.7rem);
    height: 1px;
    background-color: grey;
    margin: 10px 0;
}

.account-name {
    color: white;
}

/* CONTENT */

.content {
    width: calc(100vw - 12rem);
    height: calc(100vh - 5rem);
    background-color: #141922;
}

/* upgrade */

.upgrade {
    height: 3rem;
    width: 100%;
    justify-content: flex-end;
    position: sticky;
    z-index: 1;
    background-color: rgba(00, 00, 00, 0.7);
}

.upgrade-title {
    color: white;
    font-weight: bold;
    margin: 0.5rem 0.2rem;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.4rem 2rem;
}

/* category */

.category {
    justify-content: center;
}

.category-ul>li {
    margin: 0.7rem;
    color: grey;
}

/* played */

.content {
    overflow: auto;
}

.played {
    gap: 0.7rem;
}


.songs-titles {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.album {
    width: 10rem;
}

.played-cards {
    text-align: center;
    width: 10rem;
    margin: 1rem 0;
}

.songs-names {
    color: white;
    font-weight: bold;
}

.subtitle {
    color: grey;
    font-size: 0.7rem;
}

.album.artists {
    border-radius: 50%;
}

/* footer */

footer {
    background-color: #282828;
    height: 5rem;
    position: sticky;
    z-index: 1;
    align-items: center;
}

.album-riprodotto {
    width: 3rem;
    height: 3rem;
    margin: auto 0.7rem;
}

.title-riprodotto {
    color: white;
    font-weight: bold;
    font-size: 0.7rem;
}

.artista-riprodotto {
    color: grey;
    font-size: 0.7rem;
}

.liked,
.saved {
    color: grey;
}